@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
 font-size: 100%;
 background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}


.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    width: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 33px;
}

.cabecalho-menu-itens{
    font-family: 'Sarala', sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 25px;
}

.cabecalho-menu-itens:hover{

    color: #cb9ba5;
    border-bottom: 0.6px solid #FFF2E7 ;
    

}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7 ;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color:  #ECD6C4;

}

.conteudo-principal-botao{
    background-color:#ECD6C4 ;
    height: 60px;
    width: 180px;
    border: none;
    border-radius: 20px ;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.conteudo-principal-botao:hover{
    background-color:#c5af9e ;
    position: top;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.854);
}

.conteudo-principal-botao:active{
    position: relative;
    top:  4px;
    box-shadow: none;
}

.conteudo-principal-imagem{
    height: 430px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #fff2e7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size:24px ;
    color: #fff2e7;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ecd6c4;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #fff2e7;

}




.rodape-conteudo{
    display: flex;
    flex-flow: row wrap;
    padding-left:  54px ;
    align-items: center;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #ecd6c4;
    margin-right: 15px;
  
  
}

















